@import "src/styles/variables";

.card {
  background: $color-card-background;
  padding: 2rem;
  border-radius: 5px;
  border-left: 5px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $color-foreground;
  text-decoration: none;
  width: 100%;
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cardTitle {
  font-size: $font-size-medium;
  font-weight: 700;
  margin: 0;
}

.cardDescription {
  font-size: $font-size-small;
  color: $color-card-description;
}

.chevronIcon {
  font-size: 2.5rem;
}
