@import "src/styles/variables";

.header {
  padding: 1rem 0;
  background: $color-background;
  position: sticky;
  left: 0;
  top: -1px;
  z-index: 4;
}

.logo {
  display: inline-block;

  img {
    height: 3.5rem;
  }
}
