$font-family: "IBM Plex Sans", sans-serif;

/* Colors */
$color-background: #1c1d23;
$color-foreground: #fff;
$color-card-background: #25272f;
$color-card-border-blue: #2393ab;
$color-card-description: #85889a;

/* Font sizing */
$font-size-small: 1.4rem;
$font-size-regular: 1.6rem;
$font-size-medium: 1.8rem;
