$font-family: "IBM Plex Sans", sans-serif;

/* Colors */
$color-background: #1c1d23;
$color-foreground: #fff;
$color-secondary-foreground: #85889a;
$color-card-background: #25272f;
$color-card-description: #85889a;
$color-button-background-primary: #2393ab;
$color-input-foreground: $color-foreground;
$color-input-background: #25272f;

/* Font sizing */
$font-size-small: 1.4rem;
$font-size-regular: 1.6rem;
$font-size-medium: 1.8rem;
