@import "variables";

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root, .App {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  grid-template-rows: min-content auto;
}

html {
  font-size: 10px;
}

body {
  background: $color-background;
  color: $color-foreground;
  font-family: $font-family;
  font-size: $font-size-regular;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;

  .container {
    padding: 0;
  }
}

.page-header {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem auto;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .page-title {
    font-size: 3rem;
    font-weight: 700;
    color: $color-foreground;
    padding: 0;
    margin: 0;
    max-width: 90%;
  }

  .page-subtitle {
    color: $color-secondary-foreground;
    width: 100%;
  }
}

.section-header {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem auto;
  }

  .section-title {
    font-size: 2rem;
    font-weight: 700;
    color: $color-foreground;
    padding: 0;
    margin: 0;
    max-width: 90%;
  }
}

.card-listing {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  position: relative;

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: .25;
    font-family: $font-family;
    font-size: $font-size-regular;
  }

  .empty-image {
    filter: grayscale(1) opacity(.0);
    width: 100vw;
    max-width: 350px;
  }
}

main {
  display: flex;
  flex-direction: column;

  & > .container {
    height: 100%;
  }
}

.form {
  height: 100%;

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  button {
    align-self: flex-start;
  }

  .form-control {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  .form-input {
    background: $color-input-background;
    color: $color-input-foreground;
    border: 0;
    border-bottom: 1px solid #343434;
    border-radius: 3px;
    outline: none;
    padding: 1.3rem;
    font-size: 1.6rem;
    font-family: $font-family;
    max-width: 600px;

    &:read-only {
      color: #a1a3ab;
    }

    &.invalid {
      border: 1px solid #ff3c3c;
      background: #ff3c3c14;
    }
  }

  .form-error {
    color: #ff5e5e;
    display: flex;
    align-items: center;
    gap: .5rem;

    svg {
      display: flex;
      font-size: 1.5rem;
    }
  }

  @media (max-width: 500px) {
    margin-bottom: 8rem;

    button {
      width: 100%;
      margin: 2rem 0;
    }
  }
}

span.counter {
  background: #333334;
  color: #e4e4e4;
  font-size: $font-size-small;
  font-weight: 500;
  padding: 1px 3px;
  border-radius: 2px;
}
