@import "variables";

html {
  font-size: 10px;
}

body {
  background: $color-background;
  color: $color-foreground;
  font-family: $font-family;
  font-size: $font-size-regular;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
}
