@import "src/styles/variables";

.buttonLink {
  text-decoration: none;
  color: currentColor;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  font-size: $font-size-regular;
  background: none;
  border: 0;
  padding: 1rem;
  font-weight: 700;
  font-family: $font-family;
  cursor: pointer;
  border-radius: 3px;
  transition: all .15s ease-in-out;
}

.buttonIcon {
  display: flex;

  svg {
    stroke-width: 2px;
  }
}

.buttonLabel {
  font-weight: 700;
}

.buttonInline {
  composes: button;
  color: #58afff;

  &:hover {
    background: transparentize(#58afff, .95);
  }
}

.buttonPrimary {
  composes: button;
  background: $color-button-background-primary;
  color: $color-foreground;
  padding: 1.5rem;
}

.buttonSuccess {
  composes: button;
  background: linear-gradient(90deg, #1bce42 0%, #2393ab 100%);
  box-shadow: 0 4px 14px rgba(31, 177, 117, 0.23);
  color: #fff;
  padding: 2rem 3rem;
  margin: 1.5rem 0;

  .buttonLabel {
    font-size: $font-size-regular;
  }

  &:hover {
    background: linear-gradient(90deg, #23bb44 0%, #1b859b 100%);
  }
}
