@import "src/styles/variables";

.buttonLink {
  text-decoration: none;
  color: currentColor;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  font-size: $font-size-regular;
  background: none;
  border: 0;
  padding: 1rem;
  font-weight: 700;
  font-family: $font-family;
  cursor: pointer;
  border-radius: 5px;
  transition: all .15s ease-in-out;
  position: relative;
}

.buttonIcon {
  display: flex;

  svg {
    font-size: 2rem;
  }
}

.buttonLabel {
  font-weight: 700;
}

.buttonInline {
  composes: button;
  color: #58afff;

  &:hover {
    background: transparentize(#58afff, .95);
  }
}

.buttonPrimary {
  composes: button;
  background: $color-button-background-primary;
  color: $color-foreground;
  padding: 1.5rem;
}

.buttonSuccess {
  composes: button;
  background: linear-gradient(90deg, #3bc258, #0e744a);
  box-shadow: 0 4px 14px rgba(31, 177, 117, 0.23);
  color: #fff;
  padding: 2rem 3rem;
  margin: 1.5rem 0;

  .buttonLabel {
    font-size: $font-size-regular;
  }

  &:hover {
    background: linear-gradient(90deg, #23bb44, #1b859b);
  }

  &:disabled {
    background: #2e2f38;
    box-shadow: none;
    color: #494b57;
    cursor: none;
    pointer-events: none;
  }
}

.hasIcon {
  padding: 2rem 3rem 2rem 5rem;

  .buttonIcon {
    position: absolute;
    left: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
  }
}

.loading {
  pointer-events: none;

  .buttonIcon svg {
    animation: spin 1s linear infinite;
    stroke-width: 5px;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
